/* ----------------- COLORS ------------------------ */

/* Colours */
$dark_grey: #333333;
$light_grey: #aeaeae;
$v_light_grey: #e4e4e4;
$orange: #f08c26;
$blue: #3d85aa;

/*
Sass Reset - Converted by Hampton Catlin
A modification of the original found at...
http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q{
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



/* ----------------- GENERAL ------------------------ */

html,body
{
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background-color: #ffffff;
  margin: 20px 0px;
  padding: 0px;
  font-size: 62.5%;
}

ol, ul {
  list-style: disc; }

ul {
  margin-bottom: 20px;
}

.pagewidth
{
  margin: 0px auto;
  clear: both;
}

.horz_pagewidth_rule
{
  float:none;
  position:absolute;
  left:0px;
  width: 100%;
  border-bottom: 1px solid $v_light_grey;
}


/* ----------------- WRAPPER ------------------------ */
#wrapper
{
  width: 800px;
  margin: 0px auto;
  clear:both;
}
#wrapper a
{
  color: $blue;
  text-decoration: none;
}
#wrapper a:hover
{
  color: $orange;
}


/* ----------------- HEADER ------------------------ */
#header
{
  height: 3.0em; /* has to be tall enough to hold everything */
  padding: 0.5em;
}


/* ----------------- TITLE ------------------------ */
#title
{
  height: 3.0em; /* has to be the same as header height */
  float: left;
}

#title_main
{
  font-size: 3.0em;
  font-weight:normal;
  padding-left: 0em;
  padding-right: 0em;
}
#title_main a
{
  color: $dark_grey;
  text-decoration: none;
}
#title_main a:hover
{
  color: #000;
}



/* ----------------- MENU ------------------------ */
#menu
{
  height: 3.0em;
  float:right;
}

ul.menu {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.menu li 
{
  display:block;
  float:left;
  margin:0;
  padding:0;
  font-size: 2.0em;
  z-index: 100; /*top layer above horz rule*/
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left: 2em;
  padding-right: 0em;
  font-weight:normal;
}

#menu .unselected a 
{
  color:$light_grey;
}

#menu .unselected a:hover
{
  color: $orange;
}

#menu .selected a 
{
  color: $orange;
}


hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote {
  margin: 1em 3em;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 1em; }

/* ----------------- CONTENT ------------------------ */
#content
{
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: $dark_grey;
  width: 800px;
  line-height: 1.7em;
}

#content p
{
  padding-bottom: 1em;
}

#content h1,h2,h3,h4,h5,h6
{
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

#content {
  h1,h2,h3,h4,h5,h6 {
    padding-top: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    padding-bottom: 0.7em;
  }
  h1 {
    padding-top: 0em;
    font-size: 2em;
    border-bottom: 1px solid #efefef;
  }
  h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #efefef;
  }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1.1em; }
  h5 { font-size: 1.1em; }
  h6 { font-size: 1.0em; }
}

#content a
{
  color: #33f;
  text-decoration: none;
  /*border-bottom: 1px dashed $orange;*/
}

#content a:visited
{
  color: #66a;
  text-decoration: none;
  /*border-bottom: 1px dashed $blue;*/
}


#content a:hover
{
  color: $orange;
  text-decoration: none;
  /*border-bottom: 1px dashed $blue;*/
}

/* for image links */
#content a.no_border
{
  border-bottom: none; 
}

#content .content_box
{
  margin: 10px;
  padding: 10px;
}
#content .ajax_loading
{
  padding-top:100px;
  padding-bottom:150px;
  color: $light_grey;
}
#content .horz_rule
{
  width: 100%;
  border-bottom: 1px solid $v_light_grey;
  float:none;
  clear:both;
}
#content .strong
{
  font-weight: bold;
}


#content .text_shadow
{
  margin: 10px;
  margin-bottom: 30px;
  -moz-box-shadow:  0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow:   0px 0px 3px #aaa;

  border: 1px solid #ccc;

  border-bottom-left-radius:  3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius:   3px 3px;
  border-top-right-radius:  3px 3px;

  padding: 10px;
}

#content .img_shadow
{
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  -moz-box-shadow:  0px 0px 5px #111;
  -webkit-box-shadow: 0px 0px 5px #111;
  box-shadow:   0px 0px 5px #111;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#content .img_shadow_no_center
{
  margin: 10px;
  float: left;
}

#content .shadow
{
  -moz-box-shadow:  0px 0px 5px #111;
  -webkit-box-shadow: 0px 0px 5px #111;
  box-shadow:   0px 0px 5px #111;
}

.page_width
{
  border: none;
  margin: none;
  padding: none;
  width: 100%;
}


#content .center_full_no_border
{
  border: none;
  margin-left:auto;
  margin-right:auto;
}



/* ------------- PAGE SPECIFIC STYLES ------------- */
#frontpage img
{
  /*width: 700px;*/
}

strong {
  font-weight: bold;
}

em {
  font-weight: bold;
}


.gmaps {
  width: 640px;
  margin: auto;
  border: 1px solid #ccc;
  font-size: 0.8em;
  margin-bottom: 20px;
  -moz-box-shadow:  0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:   0px 0px 5px #ccc;
}

.center-button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
  padding: 20px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-size:18px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
} 
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}
.button:active {
	position:relative;
	top:1px;
}
