<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>robbieandkai.com :: {{ page.title }} </title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" media="screen" title="User Defined Style" href="/styles/syntax.css" />
    <link rel="stylesheet" type="text/css" media="screen" title="User Defined Style" href="/styles/main.css" />

    <!-- for facebook open graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/images/opengraph.png"/>
    <meta property="og:title" content="robbieandkai.com"/>
    <meta property="og:url" content="http://robbieandkai.com/"/>
    <meta property="fb:admins" content="36804805"/>
    <meta property="og:description" content="Robbie and Kai's wedding website"/>
</head>

<body>

<div id="wrapper">

<div id="header">
    <div id="title">
        <div id="title_main">
            <a href="/">Robbie and Kai's wedding</a>
        </div>
    </div>

    <div id="menu"> 
        <ul class="menu">
            <li class="unselected"><a href="/">home</a></li> 
            <li class="unselected"><a href="/location/">location</a></li>
            <li class="unselected"><a href="/accommodation/">accommodation</a></li>
            <li class="unselected"><a href="/rsvp/">rsvp</a></li>
            <li class="unselected"><a href="/schedule/">schedule</a></li>
            <li class="unselected"><a href="/giftlist/">gift list</a></li>
            <li class="unselected"><a href="/contact/">contact</a></li>
        </ul>
    </div> <!-- menu -->
</div> <!-- header -->

<div class="horz_pagewidth_rule"></div>

<div id="content">
{{ content }}
</div> <!-- content -->

</div> <!-- wrapper -->

<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13183825-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

